@use "../../utilities/_colors" as *;
@use "../../base/_fonts" as *;
@use "../../utilities/functions" as f;
@use "../../utilities/gradients" as *;

.header {
  height: f.toRem(278);
  background: $bg-gradient;
  font-family: $font-inter;
  padding-top: f.toRem(30);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  .logoContainer {
    grid-column: 2;
    grid-row: 1 / 3;
    margin: auto 0 auto 0;
  }

  .auth {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    color: $lightGrey;
    justify-content: center;
    text-align: center;
    font-size: f.toRem(14);

    a {
      height: fit-content;
      align-self: center;
    }
  }

  .navbar {
    font-size: f.toRem(14);
    color: $lightGrey;
    grid-column: span 3;
    grid-row: 3;

    ul {
      display: flex;

      li {
        border: 1px solid $lightGrey;
        border-bottom: none;
        padding: f.toRem(10);
        text-align: center;
        line-height: f.toRem(14);
      }
    }
  }
}

.welcome {
  position: relative;

  .img {
    z-index: 0;
  }

  h1 {
    position: absolute;
    bottom: f.toRem(24);
    z-index: 1;
    font-family: $font-inter;
    font-size: f.toRem(45);
    font-weight: 900;
    line-height: f.toRem(50);
    margin-left: f.toRem(26);
    color: #fff3f3;
    text-shadow: 0px 1px 4px #00000066;
  }

  .form {
    position: absolute;
    top: f.toRem(27);
    left: f.toRem(24);
    right: f.toRem(24);
    z-index: 1;
  }

  input {
    position: absolute;
    z-index: 1;
    height: f.toRem(48);
    padding: f.toRem(14.5) f.toRem(10);
    border-radius: 6px;
    width: 100%;
  }

  input::placeholder {
    color: #8bb9ff;
    font-size: f.toRem(16);
  }

  svg {
    width: fit-content;
    position: absolute;
    right: f.toRem(15);
    top: f.toRem(15);
    z-index: 1;
  }
}

.intro {
  padding: f.toRem(24);

  .intro_img {
    margin: f.toRem(24);
  }

  .intro_text {
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: 600;
      font-size: f.toRem(30);
      margin-bottom: f.toRem(24);
    }

    p {
      margin-bottom: f.toRem(24);
      color: #666666;
      line-height: f.toRem(22);

      strong {
        font-weight: 600;
      }
    }

    button {
      background-color: #2e83ff;
      color: white;
      font-size: f.toRem(16);
      border: 2px solid #8bb9ff;
      padding: f.toRem(21) f.toRem(61);
      border-radius: 6px;
      width: fit-content;
      align-self: center;
    }
  }
}

.explore {
  position: relative;

  image {
    z-index: 0;
  }

  .explore_text {
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: flex;
    padding-inline: f.toRem(24);
    width: 100%;
    justify-content: space-between;
    margin-bottom: f.toRem(31);

    h2 {
      font-size: f.toRem(30);
      font-weight: 700;
      color: white;
      line-height: f.toRem(33);

      strong {
        color: #6aa7ff;
      }
    }

    svg {
      align-self: flex-end;
      width: fit-content;
    }
  }
}

.topten {
  padding-block: f.toRem(24);
  background-color: #e5eefb;
  // overflow: hidden;

  h2 {
    font-size: f.toRem(30);
    font-weight: 700;
    line-height: f.toRem(33);
    margin-bottom: f.toRem(24);
    margin-inline: f.toRem(24);
  }

  h3 {
    color: #666666;
    margin-bottom: f.toRem(24);
    margin-inline: f.toRem(24);
  }

  .topten_cardcontainer {
    overflow-x: auto;

    .topten_cardlist {
      height: f.toRem(140);
      width: max-content;
      margin-bottom: f.toRem(16);
      display: flex;
      gap: f.toRem(8);
      overflow: hidden;
      padding-inline: f.toRem(24);

      .topten_card {
        width: f.toRem(140);
        height: 100%;
        background-color: grey;
        border-radius: 6px;
        position: relative;

        .topten_card_label {
          position: absolute;
          bottom: 0;
          padding: f.toRem(8);
          width:fit-content;
          background-color: #B042F4;
          border-radius: 6px;
          color: white;
          font-size: f.toRem(12);
          font-weight: 700;
        }
      }
    }
  }
}
