@use "../../utilities/_colors" as *;
@use "../../base/_fonts" as *;
@use "../../utilities/functions" as f;
@use "../../utilities/gradients" as *;

.header {
  height: f.toRem(278);
  background: $bg-gradient;
  font-family: $font-inter;
  padding-top: f.toRem(30);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @media screen and (min-width: 750px) {
    height: f.toRem(148);
    background: rgb(105, 168, 255);
    background: linear-gradient(
      180deg,
      rgba(105, 168, 255, 1) 0%,
      rgba(0, 86, 219, 1) 38%
    );
  }

  .logoContainer {
    grid-column: 2;
    grid-row: 1 / 3;
    margin: auto 0 auto 0;

    @media screen and (min-width: 750px) {
      grid-column: 1;
      grid-row: span 4;
      transform: scale(0.6);
    }
  }

  .auth {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    color: $lightGrey;
    justify-content: center;
    text-align: center;
    font-size: f.toRem(14);

    @media screen and (min-width: 750px) {
      grid-column: 3;
    grid-row: 3;
    }

    a {
      height: fit-content;
      align-self: center;
    }
  }

  .navbar {
    width: 100%;
    font-size: f.toRem(14);
    color: $lightGrey;
    grid-column: span 3;
    grid-row: 3;

    @media screen and (min-width: 750px) {
      grid-column: 2 / 3;
      grid-row: 3;
    }

    ul {
      display: flex;
      width: 100%;

      li {
        border: 1px solid $lightGrey;
        border-bottom: none;
        padding: f.toRem(10);
        text-align: center;
        line-height: f.toRem(14);
        flex: 1 1 100%;

        @media screen and (min-width: 750px) {
          border-top: none;
          padding: f.toRem(10) f.toRem(44);
        }
      }
    }
  }
}

.welcome {
  position: relative;

  img {
    height: 300px;
    width: 100%;
    object-fit: cover;

    @media screen and (min-width: 750px) {
      height: 500px;
    }
  }

  h1 {
    position: absolute;
    bottom: f.toRem(24);
    z-index: 1;
    font-family: $font-inter;
    font-size: f.toRem(45);
    font-weight: 900;
    line-height: f.toRem(50);
    margin-left: f.toRem(26);
    color: #fff3f3;
    text-shadow: 0px 1px 4px #00000066;

    @media screen and (min-width: 750px) {
      font-size: f.toRem(80);
      bottom: f.toRem(260);
      left: f.toRem(180);
      width: f.toRem(512);
      line-height: f.toRem(90);
    }
  }

  .form {
    position: absolute;
    top: f.toRem(27);
    left: f.toRem(24);
    right: f.toRem(24);
    z-index: 1;
  }

  input {
    position: absolute;
    z-index: 1;
    height: f.toRem(48);
    padding: f.toRem(14.5) f.toRem(10);
    border-radius: 6px;
    width: 100%;

    @media screen and (min-width: 750px) {
      width: 43%;
      top: f.toRem(337);
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  input::placeholder {
    color: #8bb9ff;
    font-size: f.toRem(16);
  }

  svg {
    width: fit-content;
    position: absolute;
    right: f.toRem(15);
    top: f.toRem(15);
    z-index: 1;
  }
}

.intro {
  padding: f.toRem(24);

  .intro_img {
    margin: f.toRem(24) auto;
    width:fit-content;
  }

  .intro_text {
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: 600;
      font-size: f.toRem(30);
      margin-bottom: f.toRem(24);
      text-align: center;
    }

    p {
      margin-bottom: f.toRem(24);
      color: #666666;
      line-height: f.toRem(22);

      strong {
        font-weight: 600;
      }
    }

    button {
      background-color: #2e83ff;
      color: white;
      font-size: f.toRem(16);
      border: 2px solid #8bb9ff;
      padding: f.toRem(21) f.toRem(61);
      border-radius: 6px;
      width: fit-content;
      align-self: center;
    }
  }

  @media screen and (min-width: 750px) {
    display: flex;
    flex-direction: row-reverse;
    margin: f.toRem(20) f.toRem(200);
    gap: 2rem;

    .intro_img {
      width: 70%;
      height: auto;

      img {
        width: 100%;
      }
    }

    .intro_text {
      width: 60%;

      h2 {
        font-size: f.toRem(40);
      }

      p {
        font-size: f.toRem(20);
      }

      button {
        align-self: flex-start;
      }
    }
  }
}

.explore {
  position: relative;

  img {
    z-index: 0;
    margin: 0 auto;
  }

  .explore_text {
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-inline: f.toRem(100);
    width: 100%;
    margin-bottom: f.toRem(31);

    h2 {
      font-size: f.toRem(30);
      font-weight: 700;
      color: white;
      line-height: f.toRem(33);

      strong {
        color: #6aa7ff;
      }
    }

    svg {
      align-self: flex-end;
      width: fit-content;
    }
  }

  @media screen and (min-width: 750px) {
    margin-bottom: 2rem;

    img {
      object-fit: contain;
      margin: 0 auto;
      width: 30%;
      height: auto;
      border-radius: 6px;
    }

    .explore_text {
      left: 0;
      right: 0;
      margin: 5rem auto;
      width: fit-content;
      gap: 2rem;
      padding-inline: f.toRem(120);
    }
  }
}

.topten {
  padding-block: f.toRem(24);
  background-color: #e5eefb;

  h2 {
    font-size: f.toRem(30);
    font-weight: 700;
    line-height: f.toRem(33);
    margin-bottom: f.toRem(24);
    margin-inline: f.toRem(24);
  }

  h3 {
    color: #666666;
    margin-bottom: f.toRem(24);
    margin-inline: f.toRem(24);
  }

  .topten_cardcontainer::-webkit-scrollbar {
    width: 7px;
  }

  .topten_cardcontainer::-webkit-scrollbar-track {
    background: transparent;
  }

  .topten_cardcontainer::-webkit-scrollbar-thumb {
    background: transparent;
    height: 5px;
    border-radius: 5px;
  }

  @media screen and (min-width: 500px) {
    .topten_cardcontainer::-webkit-scrollbar {
      height: 7px;
    }

    .topten_cardcontainer::-webkit-scrollbar-track {
      background: white;
    }

    .topten_cardcontainer::-webkit-scrollbar-thumb {
      background: grey;
      height: 5px;
      border-radius: 6px;
    }
  }

  .topten_cardcontainer {
    overflow-x: auto;
  }

  @media screen and (min-width: 750px) {
    padding-left: f.toRem(100);
    padding-block: f.toRem(50);

    h2 {
      width: fit-content;
      margin: f.toRem(25) auto;
    }

    h3 {
      width: fit-content;
      margin: f.toRem(25) auto;
    }
  }
}

.contribute {
  padding: f.toRem(24);
  background-color: #f4f5f7;

  .contribute_img {
    margin: f.toRem(24);
  }

  .contribute_text {
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: 600;
      font-size: f.toRem(30);
      margin-bottom: f.toRem(24);
    }

    p {
      margin-bottom: f.toRem(24);
      color: #666666;
      line-height: f.toRem(22);

      strong {
        font-weight: 600;
      }
    }

    button {
      background-color: #2e83ff;
      color: white;
      font-size: f.toRem(16);
      border: 2px solid #8bb9ff;
      padding: f.toRem(21) f.toRem(61);
      border-radius: 6px;
      width: fit-content;
      align-self: center;
    }
  }

  @media screen and (min-width: 750px) {
    display: flex;
    flex-direction: row-reverse;
    margin: f.toRem(20) f.toRem(200);
    background-color: #ffffff;

    .contribute_img {
      width: 100%;
      height: auto;

      img {
        width: 100%;
      }
    }

    .contribute_text {
      width: 60%;

      h2 {
        font-size: f.toRem(28);
      }

      p {
        font-size: f.toRem(20);
      }
      
      button {
        align-self: flex-start;
      }
    }
  }
}

.faq {
  padding: f.toRem(24);
  background-color: #E5EEFB;
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: 700;
    font-size: f.toRem(30);
    line-height: f.toRem(33);
    margin-bottom: f.toRem(24);
  }

  p {
    color: #666666;
    margin-bottom: f.toRem(24);

    strong {
      font-weight: 600;
    }
  }

  button {
    background-color: #2e83ff;
    color: white;
    font-size: f.toRem(16);
    border: 2px solid #8bb9ff;
    padding: f.toRem(21) f.toRem(61);
    border-radius: 6px;
    width: fit-content;
    align-self: center;
  }
  
  @media screen and (min-width: 750px){
    align-items: center;
    padding-inline: 10rem;
    text-align: center;
  }
}
