@use "../../utilities/_colors" as *;
@use "../../base/_fonts" as *;
@use "../../utilities/functions" as f;

.mapContainer {
    height: 11rem;
    width: 100%;


    @media screen and (min-width: 800px) {
        height: f.toRem(351);
        border-radius: 6px;
    }
}