@use "../../utilities/_colors" as *;
@use "../../base/_fonts" as *;
@use "../../utilities/functions" as f;

.searchList {
    margin: f.toRem(24);
    display: grid;
    gap: f.toRem(32);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.loadingSpinner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    

    h1 {
        font-size: f.toRem(30);
        margin: 2rem auto;
    }

    span { 
        margin-top: 4rem;
    }
}